:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --text-color-hover: #4d5ae5;
  --accent-color: #404bbf;
  --backround-color: #ffffff;
  --background-btn-filtres: #f4f4fd;
  --background-border: #e7e9fc;
  --color-icon: #8e8f99;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  color: var(--secondary-text-color);
  background-color: var(--backround-color);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* studio */
/* header */
/* logo */
.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu {
  display: none;
}
.contacts {
  display: none;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-hover);
}
.dark-logo {
  color: var(--primary-text-color);
}
.padding-header {
  padding-top: 24px;
  padding-bottom: 22px;
}
.button-mobile {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.button-mobile-icon {
  fill: #2e2f42;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backround-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #2e2f42;
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0;
}
.mobile-menu-close-icon {
  fill: #2e2f42;
}
.menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.menu-mobile-link-tell {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
@media screen and (min-width: 428px) {
  .menu-mobile-link-tell {
    font-size: 36px;
  }
}
.current-mobile {
  color: rgba(64, 75, 191, 1);
}
.contact-mobile {
  font-style: normal;
  margin-bottom: 48px;
}
.contact-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact-menu-link-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.media-list-mobile {
  display: flex;
  gap: 25px;
}
@media screen and (min-width: 428px) {
  .media-list-mobile {
    gap: 56px;
  }
}
.media-list-link-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-list-icon-mobile {
  fill: #f4f4fd;
}

/* 768px and + */
@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }
  /* Navigation */
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .menu-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }
  .current {
    position: relative;
    color: var(--accent-color);
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* CONTACT */

  .contacts {
    display: block;
    font-style: normal;
    margin-left: auto;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: var(--accent-color);
  }
}
/* 1158px and + */
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contact {
    flex-direction: row;
    gap: 40px;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* Main */
/* Hero */
.hero {
  background-color: var(--primary-text-color);
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
  max-width: 856px;
  background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
    url("../images/hero/dark-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/dark-bg-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero@2x.jpg");
  }
}
.container-section-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-text-hero {
  max-width: 320px;
  margin-bottom: 72px;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--backround-color);
}
.main-button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--backround-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  background-color: var(--text-color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .container-text-hero {
    font-size: 56px;
    line-height: 1.1;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1157px),
  screen and (min-resolution: 192dpi) and (max-width: 1157px),
  screen and (min-resolution: 2dppx) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1158px) {
  .container-text-hero {
    margin-bottom: 48px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero@2x.jpg");
  }
}
/* Plyusi Kompanii */
.companii-img-icon {
  display: none;
}
.companii {
  visibility: hidden;
}
.companii-container {
  display: flex;
  align-items: center;
}
.companii-list {
  display: flex;
  gap: 72px;
}
.companii-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.companii-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767px) {
  .companii-list {
    flex-direction: column;
    align-items: center;
  }
  .companii-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .companii-description {
    width: 356px;
  }
  .companii-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .companii-list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* Icon information */
  .companii-img-icon {
    display: block;
  }
  .companii-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    border-radius: 4px 4px 4px 4px;
    height: 112px;
    margin-bottom: 8px;
  }
  .companii-list {
    gap: 24px;
  }
  .companii-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .companii-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .companii-description {
    font-weight: 400;
    width: 264px;
  }
}
/* What are we doing */
@media screen and (max-width: 1157px) {
  .container-section-work {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .container-section-work {
    display: block;
  }
  .servises {
    padding-bottom: 120px;
  }
  .servise-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .servise-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 72px;
  }
}
/* Our team */
.our-team {
  background-color: var(--background-btn-filtres);
}
.container-section-team {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin-bottom: 72px;
}
.our-team-item {
  background-color: var(--backround-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.our-team-list-text-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 32px 0;
}
.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.our-team-position {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* ICON TEAM */
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-item {
    width: calc((100% - 72px) / 4);
  }
  .our-team-list {
    flex-direction: row;
    gap: 24px;
  }
}
/*Customers*/
.customers-title {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 72px;
  text-align: center;
}
.customers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-icon);
  color: var(--color-icon);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .customers-link {
    width: 168px;
  }
  .customers-list {
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .customer-list-item {
    width: calc((100% - 120px) / 6);
  }
}
/* footer */
.page-footer {
  background-color: #2e2f42;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-two-footer {
    display: flex;
  }
}
.container-width {
  display: flex;
}
@media screen and (max-width: 767px) {
  .container-width {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-width {
    width: 552px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .container-two-footer {
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .container-footer {
    margin-right: 120px;
  }
}
.logo-link-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-hover);
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .logo-link-footer {
    text-align: center;
  }
}
.logo-footer-studio {
  color: var(--background-btn-filtres);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-btn-filtres);
  max-width: 264px;
}
.media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--backround-color);
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .media-title {
    text-align: center;
  }
}
.media-list {
  display: flex;
  gap: 16px;
}
.media-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-list-link:hover,
.media-list-link:focus {
  background-color: #31d0aa;
}
.media-list-icon {
  fill: #f4f4fd;
}
.container-mail-footer {
  display: flex;
  flex-direction: column;
}
.contact-title-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .contact-title-footer {
    text-align: center;
  }
}
.container-input-footer {
  display: flex;
}
@media screen and (max-width: 767px) {
  .container-input-footer {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
.contact-form-input-footer {
  width: 280px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--backround-color);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 428px) {
  .contact-form-input-footer {
    width: 396px;
  }
}
@media screen and (min-width: 767px) {
  .contact-form-input-footer {
    width: 264px;
  }
}
.contact-form-input-footer:hover,
.contact-form-input-footer:focus {
  outline: none;
  border-color: var(--text-color-hover);
  background-color: transparent;
}
.contact-form-submit-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
  background-color: var(--text-color-hover);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--backround-color);
}
.contact-form-submit-footer:hover,
.contact-form-submit-footer:focus {
  background-color: var(--accent-color);
}
.contact-form-footer-icon {
  fill: rgb(255, 255, 255);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 16px;
}
.contact-form-submit-footer:hover + .contact-form-footer-icon,
.contact-form-submit-footer:focus + .contact-form-footer-icon {
  fill: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .contact-form-footer {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-mail-footer {
    margin-left: 80px;
  }
}
/* модальне вікно */
@media screen and (max-width: 767px) {
  .modal {
    max-width: 392px; 
  }
}
@media screen and (max-width: 427px) {
  .modal {
    max-width: 310px;
   }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func); 
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-duration-and-func);
 padding: 72px 24px 24px 24px;
}
.modal-close-icon {
  fill: #2E2F42;
  transition: fill var(--transition-duration-and-func);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill:  #FFFFFF;;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
display: flex;
align-items: center;
justify-content: center;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
width: 24px;
height: 24px;
padding: 0; 
transition: background-color var(--transition-duration-and-func),
 border var(--transition-duration-and-func); 
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background: #404BBF;
  border: none;
}
.is-hidden {
  opacity: 0; 
  visibility: hidden; 
  pointer-events: none;
}
/* MODAL WINDOW */

/* MODAL FORM */

/* + */
.modal-form-title {
  text-align: center; 
  margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var( --primary-text-color);
}
.modal-form {
  max-width: 392px; 
display: flex;
flex-direction: column;
}
/* + */
.modal-form-name-wrapper {
  margin-bottom: 8px;
}
/* + */
.modal-form-field {
display: block;
margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
color: #8E8F99;
}
/* + */
.modal-form-input-wrapper {
  position: relative;
}
/* + */
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  color: #000000;
  outline: transparent;
  transition: border-color var(--transition-duration-and-func);
}
/* + */
.modal-form-input:focus {
border-color: #4D5AE5;
}

/* + */
.modal-form-input-icon {
  position: absolute;
  fill: #2E2F42;
  top:50%;
  left:16px;
  transform: translateY(-50%); 
  transition: fill var(--transition-duration-and-func);

}
/* + */
.modal-form-input:focus + .modal-form-input-icon {
  fill: #4D5AE5;
}
/* + */
.modal-form-comment-wrapper {
  margin-bottom: 16px;
}
/* + */
.modal-form-comment {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px; 
  background-color: transparent; 
  outline: transparent; 
  transition: border-color var(--transition-duration-and-func);
}
/* + */
.modal-form-comment:focus {
  border: 1px solid #4D5AE5;
}
/* + */
.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
/* + */
.modal-form-checkbox-cont {
  margin-bottom: 24px; 
}
/* + */
.modal-form-check-desc {
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
color: #8E8F99;
}
/* + */
.modal-form-check:checked + .modal-form-check-desc .checkbox-icon-wrapper {
  background-color: #404BBF;
  border: none;
  fill: #ffffff;
  border-color: #404bbf; 
}
/* + */
.checkbox-link {
  color: #4d5ae5;
}
/* + */
.checkbox-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent; 
  width: 16px;
  height: 16px; 
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px; 
  margin-right: 8px;
}
.modal-form-submit {
  min-width: 169px;
  height: 56px;
  display: block;
  margin: auto;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius:  4px;
  border: none;
  transition: background-color var(--transition-duration-and-func);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-color);
}
/* MODAL FORM */
 .modal-form-check {
  appearance: none;
  position: absolute;
} 

/* portfolio */

/* main */
.filters {
  padding: 96px 0 120px;
}
.filtres-button-list {
  display: flex;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 24px;
}
.modal-open-button {
  border: 1px solid var(--background-border);
  padding: 12px 24px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-hover);
  background-color: var(--background-btn-filtres);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-open-button:focus,
.modal-open-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  color: var(--backround-color);
  background-color: var(--accent-color);
}
/* project card */
.card-link {
  display: block;
  transition: box-shadow var(--transition-duration-and-func);
}
.card-link:focus,
.card-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.card--list-text-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.card-item {
  width: 360px;
  transition: box-shadow var(--transition-duration-and-func);
}
.card-item:nth-child(3n) {
  margin-right: 0;
}
.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration-and-func);
}
.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translateY(0%);
}

